<% if user_signed_in? %>  
<%= render 'layouts/header' %>
<%= render 'layouts/orkambi' %>
<div class="orkambi-about">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 style="font-weight: 600;">The webcast will be available from [day, date] <br /> December 2015 at [xxx].</h3>
      <br />
      <h3>If you haven’t requested a diary reminder for the initial screening of<br /> the webcast and would like to do so, please click below.</h3>
      <br />
      <div class="col-md-6 col-md-offset-3" style="margin-top: 25px;">
        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-block">REQUEST A DIARY REMINDER</a>
      </div>
      <br />            
      <div class="col-md-12" style="margin-top: 35px;">
        <h3 style="font-weight: 600;">We look forward to welcoming you back soon.</h3>  
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>

<!-- Modal for calendar invite -->
<div class="modal fade" style="margin-top: 200px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-footer">
        <%= link_to "X", about_path %>
      </div>
      <div class="modal-body">
        <h4>Please click on your calendar type</h4>
        <br />
        <div class="row">
          <div class="col-sm-4" style="text-align:center; margin-bottom:10px;">
            <a href="#"><img src="http://www.streamingwell.tv/wp-content/uploads/2015/11/outlook-logo.png"/>
            <p style="font-weight: 300; margin-top:5px;">Add to Outlook™ calendar</p></a>
          </div>
          <div class="col-sm-4" style="text-align:center; margin-bottom:10px;">
            <a href="#"><img src="http://www.streamingwell.tv/wp-content/uploads/2015/11/google-logo.png"/>
            <p style="font-weight: 300; margin-top:5px;">Add to Google™ calendar</p></a>
          </div>
          <div class="col-sm-4" style="text-align:center; margin-bottom:10px;">
            <a href="#"><img src="http://www.streamingwell.tv/wp-content/uploads/2015/11/ical.png"/>
            <p style="font-weight: 300; margin-top:5px;">Add to iCal<sup>©</sup><br /> calendar</p></a>            
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% else %>

<%= render 'layouts/landing' %>  

<% end %>