<div id="wrapper">
	<%= render 'layouts/header' %>
		<div class="orkambi-body">
			<div class="container">
			  <div class="row">
			    <div class="col-md-10 col-md-offset-1">
						<h1 style="color:#fc6719;"><strong>Already registered</strong></h1>
						<p>To access the webcast, please enter the email address you registered with</p>
						<br />
						<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
						<%= f.input :email, :autofocus => false, placeholder: "Email address*", label: false, :input_html => { style: "display: block;width: 100%;height: 54px;padding: 6px 12px;font-size: 18px;line-height: 1.42857143;color: #555;background-color: #e6f6f7;background-image: none;border: 3px solid #e9e9e9;border-radius: 4px !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;" } %>
						<br />
						
							<fieldset class="col-sm-4" style="padding: 0;">
							 	<%= f.button :submit, "ACCESS WEBCAST", class: 'btn btn-primary btn-large btn-block' %>
							</fieldset>

						<% end %>

						<br />
						<%= link_to "or register", register_path %>

					</div>
				</div>
			</div>
		</div>
	 <div id="push"></div> <!-- push -->
</div> <!-- wrapper -->
<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>