<%= render 'layouts/header' %>  
<%= render 'layouts/orkambi' %>  

<section class="orkambi-video">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/171an9arma?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
            <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>

            <!--  Popover embed -->
            <!-- <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_171an9arma popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:540px;width:960px">&nbsp;</div> -->
        </div>
    </div>
</section>

<section class="orkambi-question">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- flash_notice to show if form submission is successful -->
            <div class="alert alert-success" id="form-success" style="display: none; margin-top: 15px; margin-bottom: 0px;">
                <strong>Thank you, your question was successfully sent.</strong>
            </div>
            <!-- flash_notice to show if form submission is unsuccessful -->
            <div class="alert alert-error" id="form-error" style="display: none; margin-top: 15px; margin-bottom: 0px;">
                <strong>Please fill in all fields.</strong>
            </div>
            <%= simple_form_for @message, :url => contact_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>
            <br />
            <%= form.input :body, label: false, placeholder: "If you have a question and would like to be contacted by a Vertex representative, please type your request here", required: false, as: :text, input_html: { rows: "6", style: "display: block;width: 100%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 3px solid #e9e9e9;border-radius: 4px !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;" } %>
            <br />
            <%= form.input "email", as: :hidden, :input_html =>  {value: current_user.email} %>
            <p align="left">For medical information requests at any time, please email Vertex at <br /> <a href="mailto:vertexmedicalinfo@vrtx.com" style="text-decoration: underline !important">vertexmedicalinfo@vrtx.com</a>.</p>
            <%= form.submit "Submit", class: 'btn btn-inverse btn-large' %>
            
            <% end %>
            </div>
        </div>
    </div>      
</section>
<br />

<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>  