<% if user_signed_in?  %>  
<%= render 'layouts/header' %>  
<%= render 'layouts/orkambi' %> 
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">

            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//fast.wistia.net/embed/playlists/jrxwxh7lh1?media_0_0%5BautoPlay%5D=false&media_0_0%5BcontrolsVisibleOnLoad%5D=false&theme=bento&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BvideoHeight%5D=324&videoOptions%5BvideoWidth%5D=576&videoOptions%5BvolumeControl%5D=true"></iframe>

              <!-- <iframe src="//fast.wistia.net/embed/playlists/jrxwxh7lh1?media_0_0%5BautoPlay%5D=false&media_0_0%5BcontrolsVisibleOnLoad%5D=false&theme=bento&version=v1&videoOptions%5BautoPlay%5D=true&videoOptions%5BplayerColor%5D=0aa5b5&videoOptions%5BvideoHeight%5D=360&videoOptions%5BvideoWidth%5D=640&videoOptions%5BvolumeControl%5D=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_playlist" name="wistia_playlist" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="920" height="343"></iframe> -->

            </div>
            
            <!-- flash_notice to show if form submission is successful -->
            <div class="alert alert-success" id="form-success" style="display: none; margin-top: 15px; margin-bottom: 0px;">
                <strong>Thank you, your question was successfully sent.</strong>
            </div>
            <!-- flash_notice to show if form submission is unsuccessful -->
            <div class="alert alert-error" id="form-error" style="display: none; margin-top: 15px; margin-bottom: 0px;">
                <strong>Please fill in all fields.</strong>
            </div>
            <%= simple_form_for @message, :url => contact_path, method: :post, remote: true, html: { class: "form-horizontal"} do |form| %>
            <br />
            <%= form.input :body, label: false, placeholder: "If you have any questions on the clinical data, you are invited to submit these here and they be followed up on as soon as possible.", required: false, as: :text, input_html: { rows: "6", style: "display: block;margin-bottom:15px;width: 100%;padding: 6px 12px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 3px solid #0aa5b5;border-radius: 4px !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;" } %>

            <br />
            <p align="left">In order to help us follow up with you, please let us know which hospital/institution you are from:</p>
            
            <%= form.input :hospital, :autofocus => false, placeholder: "Hospital/institution*", label: false, :input_html => { style: "display: block;margin-bottom:0;width: 100%;height: 54px;padding: 6px 12px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 3px solid #0aa5b5;border-radius: 4px !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;" } %>
                <small>*required information</small>
                <p></p>
                <br />

            <%= form.input "email", as: :hidden, :input_html =>  {value: current_user.email} %>
            
            <div class="col-md-4" style="padding:0px;">
                <%= form.submit "SUBMIT", class: 'btn btn-primary btn-large btn-block' %>
            </div>
            
            <% end %>
        </div>
  </div>
</div> 
<br />

<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>  

<% elsif cookies[:user_choice] == 'yes' %>
   
<%= render 'layouts/home' %>  

<% else %>

<%= render 'layouts/landing' %>  

<% end %>