<div id="footer">
	<div class="container">
		<div class="row">
		 	<div class="col-sm-2">
		 	</div>

		 	<div class="col-sm-2">
		 		<h5 style="color: #c9c9c9;">Prescribing Information (PI)</h5 style="color: #fff;">
		 		<a href="#"></a>
		 	</div>

		 	<div class="col-sm-2">
		 		<h5 style="color: #c9c9c9;">Report a suspected adverse event</h5 style="color: #fff;">
		 			<a href="#"></a>
		 	</div>

		 	<div class="col-sm-2">
		 		<h5 style="color: #c9c9c9;">Privacy</h5 style="color: #fff;">
		 			<ul class="list-unstyled">
		 				<li><%= link_to "Privacy Policy", privacy_path %></li>
		 				<li><%= link_to "Terms of Use", terms_path %></li>
		 				<li><%= link_to "Cookies", cookies_path %></li>
		 			</ul>
		 	</div>

		 	<div class="col-sm-2">
		 		<h5 style="color: #c9c9c9;">Help</h5 style="color: #fff;">
		 			<ul class="list-unstyled">
		 				<li><%= link_to "Troubleshooting", help_path %></li>
		 				<li><%= link_to "Forgotten Password", new_password_path(resource_name) %></li>
		 			</ul>
		 	</div>

		 	<div class="col-sm-2">
		 		<h5 style="color: #c9c9c9;">Request a KAM Visit</h5 style="color: #fff;">
		 		<a href="#"></a>
		 	</div>

			<br />

			<div class="col-md-12" align="center" style="margin-top: 50px">
				INSERT VERTEX LOGO

				<br />
				<p></p>

				<small style="color: #fff;">© Vertex Pharmaceuticals (Europe) Ltd. | [Job bag] | [October] 2015</small>

			</div>
		</div>
	</div>
</div>